form#datavizwiz-gen-filters input[type='text'] {
  width: 125px;
  height: 21px;
}

form#datavizwiz-gen-filters .form-item {
  background-color: transparent;
  border: none;
  position: relative;
  float: left;
  padding: 0px 15px 0px 0px;
}

form#datavizwiz-gen-filters label {
  color: #000;
  text-transform: capitalize;
}

form#datavizwiz-gen-filters input[type='submit'] {
  float: left;
  clear: both;
}


#dvwPanes {
position:relative;
width:100%;
}

#dvwTabs {
  width: 100%;
  position:relative;
  height:30px;
}

#dvwTabContent {
position:relative;
height:266px;
font:12px Verdana, Arial, Helvetica, sans-serif;
color:#444444;
border:3px solid #eee;
/* overflow:auto; */
}

#dvwTabContent .dvwContent{
/* display:none; */
position: absolute;
left:-20000px;
top:0 ;
width:100%;
height: 600px;
 }

#dvwTabContent .dvwActive{
display:block;
left:0;
}

/* Tab menu styles generated via the horitontal menu builder @ www.cssmenubuilder.com */
.dvwMenu{margin:0 auto; padding:0; height:30px; width:100%; display:block; background:url('topMenuImages.png') repeat-x;}
.dvwMenu li {padding:0; margin:0; list-style:none; display:inline; }
.dvwMenu li a{ float:left; padding: 0px 15px 0 15px; height: 30px; display:block; color:rgb(255,255,255); text-decoration:none; font:12px Verdana, Arial, Helvetica, sans-serif; cursor:pointer; background:url('topMenuImages.png') 0px -30px no-repeat;}
.dvwMenu li a span{line-height:30px; float:left; display:block; padding-right:15px; background:url('topMenuImages.png') 100% -30px no-repeat;}
.dvwMenu li a:hover{background-position:0px -60px; color:rgb(255,255,255);}
.dvwMenu li a:hover span{background-position:100% -60px;}
.dvwMenu li a.active, .dvwMenu li a.active:hover{line-height:30px; font:12px Verdana, Arial, Helvetica, sans-serif; background:url('topMenuImages.png') 0px -90px no-repeat; color:rgb(82,82,82);}
.dvwMenu li a.active span, .dvwMenu li a.active:hover span{background:url('topMenuImages.png') 100% -90px no-repeat;}

.dvwDetail {
  float: left;
  width: 45%;
  margin: 8px 15px 0 0;
}

.dvwDetail strong {
  color: #777;
  padding: 0 0 2px 0;
  border-bottom: 1px #EFEFEF solid;
  margin: 0 0 2px 0;
  display: block;
}

.dvwDetail + .wide {
  width: 98%;
}

#dvw-detail {
  padding-bottom: 50px; 
}

#dvw-datafilters {
  background-color: #eee;
  padding: 10px 10px 10px 10px;
}

div#dvw-opendatalinks {
  padding-top: 10px;
}

#dvw-opendatalinks a {
  text-decoration: none !important;
  
}

#dvw-resultcount {
  padding-bottom: 10px;
  
}

#dvw-infobox {
  position: absolute;
  display: none;
  bottom: 10px; 
  right: 10px; 
  padding: 10px; 
  background-color: black; 
  z-index: 10000; 
  opacity: .8; 
  color: #ffffff;
}

#dvwTabContent div.legend table {
  width: 25%;
}

#dvwPie {
  margin-top: 100px;
}